<!-- head -->
<%- include('partials/head.ejs') %>
<main class="wrapper">
    <!-- navbar -->
    <%- include('partials/navbar.ejs') %>
    
  <h1><%= title %></h1>
</main>
<!-- footer -->
<%- include('partials/footer.ejs') %>
