<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1><%= titulo_pricipal %></h1>
    <nav>
      <ul>
        <li><a href="/">inicio</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
    <ul>
      <% users.forEach(user=>{%>
        <li> <%= user  %>  </li>
      <% }) %>
      </ul>
  </body>
</html>
